
body {
    flex-direction: column;
    display: flex;
    margin: 0;
    padding: 0;
   
 
}

.top {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;

  
}

h1 {
    font-size: 48px; 
    font-weight: extra-bold; 
    color: #F9FAF8;
    
}

p {
    font-size: 18px; 
    color: #0c0b0b;
    flex-wrap: wrap;
    
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1F2937;
    margin-top: 15px;
    gap: 50px;

}

.left {
    font-size: 24px;
    color: #F9FAF8;
}

.rectangle {
    display: flex;
    justify-content: space-around baseline;
    align-items: center;
    padding: 80px 100px;
    flex: 1;
    
}

.left-rect {
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #1F2937; 
    flex: 1;
    justify-content: center;
   
    
   
}
.right-rect {
    color: white;
    display: flex;
    background-color: #1F2937; 
    justify-content: space-around;
    flex: 1;
    
   
}



.right {
    font-size: 18px;
    color: #d7dadf;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
    color: #E5E7EB;
}

.button1 {
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 5px 20px;
}

.button2 {
    background-color: #3882F6;
    border-color: white;
    border-width: 2px;
    color: white;
    border-radius: 4px;
    padding: 5px 20px;
}

.top-middle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: space-around;
    flex-wrap: wrap;
    font-weight: bold;
    background-color: white;
    padding: 0px 50px 35px 50px;
    gap: 20px;
    
    
}
.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: normal;
    flex-basis: 20%;
    
    
}

.box {
    display: flex;
    flex-basis: 15%;
    height: 150px;
    
    
      
}

.bottom-middle {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 80px 250px;
    
    
}

.bottom {
    display: flex;
    background-color: #F9FAF8;
    color: #f6f9fd;
    justify-content: center;
    
}
.footer {
background-color: #1F2937;
color: #d7dadf;
text-align: center;
padding: 20px 0px;

}

h2 {
    background-color: white;
    text-align: center;
}

.container {
    background-color: #3882F6;
    padding: 30px 100px;
    margin: 60px 120px;
    display: flex;
    align-items: center;
    gap: 100px;
}

.right-cont {
    
}

.left-cont {
    display: flex;
    flex-direction: column;
}

img {
    
    max-width: 427px;
    max-height: 260px;
    object-fit: cover;
    
    }